<% @suggested_meetings.each do |meeting| %>
<div>
  <div style="padding:10px">
    <h1>Pending Meeting</h1>
    <p><strong><%= meeting.host_email %></strong> has invited<br>
    <strong><%= meeting.guest_email %></strong> to meet at:</p>
    <% meeting.locations.each do |location| %>
      <p><strong><%= location.name %></strong> at:
      <%= location.address %></p>
      <% if current_user.email == @suggested_meetings.first.guest_email%>
        <%= form_with url: 'dashboard/accept', local: true do |form| %>
        <%= form.hidden_field :meeting_info, value: { place_id: location.place_id, host_email: meeting.host_email, guest_email: meeting.guest_email } %>
        <%= form.submit "Agree to Meet Here", class: "btn-success btn-sm" %>
        <% end %>
    <% end %>
<% end %>

  </div>
</div>
<% end %>
