<% if @suggested_meetings %>
<% if !@suggested_meetings.empty? %>
  <div class="card" style="width: 25rem;">
        <div class="card-body">
          <div class="mb-3">
            <h1 class="display-6">Pending Meetings:</h1>
            <% @suggested_meetings.each do |meeting| %>
            <hr>
      <% if current_user.email == meeting.host_email %>
        <p><strong>You have invited<br>
        <strong><%= meeting.guest_email %></strong> to meet at:</p>

      <% elsif current_user.email == meeting.guest_email %>
        <h5>You've Been Invited to meet <%= meeting.host_email %></h5>
        <p>Respond by <strong><%= meeting.meeting_ddl%></storng> :</p>
      <% end %>
      <% meeting.locations.each do |location| %>
        <p><strong><%= location.name %></strong> 
        <%= location.address %></p>
        <% if current_user.email == meeting.guest_email%>
          <%= form_with url: 'dashboard/accept', local: true do |form| %>
          <%= form.hidden_field :location_name, value: location.name %>
          <%= form.hidden_field :location_address, value: location.address %>
          <%= form.hidden_field :host_email, value: meeting.host_email %>
          <%= form.hidden_field :guest_email, value: meeting.guest_email %>
          <%= form.submit "Agree to Meet at #{location.name}", class: "btn-success btn-sm" %>
          <% end %>
      <% end %>
  <% end %>
  <% if current_user.email == meeting.host_email %>
  <h5>They have until <%= meeting.meeting_ddl %> to accept!</h5>
  <button class="btn-warning btn-sm">Awaiting Reply From <%= meeting.guest_email %></button>
  <% end %>
  <% end %>
<% end %>
<% end %>
    </div>
  </div>
</div>
