<%= render partial: 'partials/navbar_dashboard' %>
<br>
<div style="padding:10px">
  <% if current_user.address == nil %>
    <%= link_to "Set Default Address", "/dashboard/address?type=new", method: :get, class: 'btn btn-success' %>
  <% else %>
     <h4>My Default Address:</h4>
     <p><%= current_user.address %></p>
     <%= link_to "Update Default Address", "/dashboard/address?type=update", method: :get, class: 'btn btn-success' %>
  <% end %>
</div>
<br>


<div style="float:left; padding:10px">
  <%= render 'search_form' %>
</div>
<div style="float:left; padding:10px">
  <%= render 'search_by_user_form' %>
</div>

<div style="float:left; padding:10px">
  <%= render 'accepted_meetings' %>
</div>

<div style="float:left; padding:10px">
  <%= render 'suggested_meetings' %>
</div>
