
<div id="locations" >
<% @locations.each do |location| %>
<div class="card" style="width: 40rem;">
  <div class="card-body">
    <div class="mb-3">
      <div style="float: left; margin-right: 30px; margin-top: 20px;">
        <img src=<%= location.url_image %>>
      </div>
          <div class="card-body">
            <h4 class="card-title"><%= location.name %></h4>
            <p class="card-text"><strong>Address:</strong> <%= location.address %></p>
            <p class="card-text"><strong>Average Review:</strong> <%= location.rating %></p>
            <% if location.price_rating != 'N/a' %>
            <p class="card-text"><strong>Price Range:</strong> <button style="height:20%" type="button" class="btn-success btn-sm"><%= location.price_rating %></button></p>
            <% end %>
          </div>
      </dl><br>
    </div>
  </div>
</div>
<% end %>
</div>
