<% @locations.each do |location| %>
<div id="locations" class="card" style="width: 25rem;">
  <div class="card-body">
    <div class="mb-3">
      <ul>
          <strong><%= location.name %></strong>
          <%= location.address %><br>
          <br>
          Average Rating: <%= location.rating %><br>
          <button style="height:20%" type="button" class="btn-success btn-sm"><%= location.price_rating %></button>
          <img src="<%= location.image_url %>" class="card-img-left" style="max-width:20%; height:auto" alt="location thumb">
        </ul>
    </div>
  </div>
</div>
<% end %>