<%= render partial: 'partials/navbar_dashboard' %>
<h1 class="display-4" style="padding:10px">Results for <%= @category.capitalize %></h1>
<%= render 'update_form' %><br>
<div style="float:left" >
  <%= render 'map_card' %>
</div>
<div>
  <%= render 'locations_card' %>
</div>
