<%= form_with url: '/results', method: :get, local: true do |form| %>
<div class="card" style="width: 25rem;">
  <div class="card-body">
    <div class="mb-3">
  <ul>
    <strong><%= form.label "1st location" %></strong>
    <%= form.text_field :address_1, { class: "form-control", placeholder: 'Enter an address - or a city, zip, or state' } %>
  </ul>
  <ul>
    <strong><%= form.label "2nd location" %></strong>
    <%= form.text_field :address_2, { class: "form-control", placeholder: 'Enter an address - or a city, zip, or state' } %>
  </ul>
  <ul>
  <%= select_tag(:category, options_for_select(['cafe', 'restaurant', 'bar', 'park','library'], 'cafe')) %><br>
  <strong><%= form.label "Select the type of place" %></strong>
</ul>
<ul>
  <%= form.submit "Find a middle place", class: "btn btn-success" %>
</ul>
<% end %>
    </div>
  </div>
</div>
