<div style="padding:10px">
  <%= form_with url: '/results', method: :patch, local: true do |form| %>
    <%=form.hidden_field :address_1, value: params[:address_1] %>
    <%=form.hidden_field :address_2, value: params[:address_2] %>
    <%= form.submit "Update Category", class: "btn btn-success" %>
    <%= select_tag(:category, options_for_select(['cafe', 'restaurant', 'bar', 'park','library'], 'cafe')) %>
  <% end %>
</div>
