<%= render partial: 'partials/navbar_landing' %>
<div class="container">
  <h1 class="display-4" style="padding:5px">Results for <%= @category.capitalize %></h1>
  <div class="row">
    <div class="col">
      <%= render 'update_form' %><br>
      <div style="float:left; margin-left: 10px;" >
        <%= render 'map_card' %>
      </div>
    <div>
    <div class="col">
    <div style='float:right; margin-right: 0px;'>
        <%= render 'locations_card', :locals =>{:locations => @locations} %>
    </div>
  </div>
</div>
  </div>
</div>