

<%= form_with url: '/dashboard/meeting', local: true do |form|  %>
  <% @locations.each do |location| %>
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <div class="mb-3">
          <div style="float: left; margin-right: 30px; margin-top: 20px;">
            <img src=<%= location.url_image %>>
          </div>
              <div class="card-body">
                <%= form.hidden_field :user_a_email, value: current_user.email %>
                <%= form.hidden_field :user_b_email, value: params[:user_b_email] %>
                 <h4 class="card-title"><%= location.name %></h4>
                <p class="card-text"><strong>Adress:</strong> <%= location.address %></p>
                <p class="card-text"><strong>Average Range:</strong> <%= location.rating %></p>
                <% if location.price_rating != 'N/a' %>
                <p class="card-text"><strong>Price Range:</strong> <button style="height:20%" type="button" class="btn-success btn-sm"><%= location.price_rating %></button></p>
                <% end %>
                <%= check_box_tag "place_ids[]", location.place_id %>
                <strong><%= label_tag 'place_ids[]', 'Select this location for a meeting' %></strong>
              </div>
          </div>
        </div>
      </div>  
  <% end %>
    <%= form.submit "Request a meeting", class: "btn btn-success" %>
<% end %>
